.button1{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button1:hover {
   box-shadow: 0 0px 0px 0;
  
   
  }
  .btn-round{
    border-radius:100%;
  }
  .header-img {
    width:100%;
    
  }
  .bg1{
    background-image:url(https://www.destinationgoldcoast.com/Portals/0/Images/Blog/MirnaSegal/three-days-on-the-gold-coast-currumbin.jpg);
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-size:100% 100%;
    
  }
  .projects{
    background-size:100% 100%;
    height:230px;
    width:100%;
  }
  .project-maint{
    background-image:url(https://jiescribano.files.wordpress.com/2017/03/workinprogress.jpg);
  }
  .project-img1{
    background-image:url(http://i65.tinypic.com/r7w195.png);

  }
  .project-img2{
    background-image: url(http://i63.tinypic.com/2dvpkqo.png);
  }
  .blue-cyan{
    color:#FFFFE0;
  }

  .cornsilk-bg{
    background-color:#FFF8DC;
  }
  .project-img{
    background-size:100% 100%;
  }
  .round-img{
    border-radius:100%;
  }
  .about-font {
    font-size :20px;
  }
  .welcome{
    text-align:center;
  }


  @media (min-width:992px) {
  .feature-heading{
    margin-top:120px
    }
    .welcome{
    font-size:250px;
  }
}

  @media (min-width:768px) {



}
@media (max-width:1080px){
    .welcome{
    font-size:250px;
  }
}
@media (max-width:720px){
    .welcome{
    font-size:100px;
  }
    .about-font {
    font-size :15px;
  }
}
@media (max-width:360px){
    .welcome{
    font-size:50px;
  }
}